<!doctype html>
<html>
    <head>
        <title>Dark Mode Always Extension </title>
        <link href="/css/options-page.css" rel="stylesheet" type="text/css">
        <link href="/css/noty.css" rel="stylesheet" type="text/css">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/noty.min.js"></script>
        <script src="/js/options-page.js"></script>
    </head>
    <body>
        <div id='dnmo-main-content'>
            <div id='dnmo-mc-wrapper'>
                <div id='dnmo-top-part'>
                    Dark Night Mode
                </div>
                <div id='dnmo-options-content-part'>
                    <div id='dnmo-ocp-toggler'>
                        <div id='dnmo-left-part'>
                            <ul id='dnmo-options-name-list' class='dnmo-normal-style'>
                                <li class='dnmo-li-option-name'>Whitelisted sites</li>
                            </ul>
                        </div>
                        <div id='dnmo-right-part'>
                            <div id='dnmo-whitelisted-sites-list' class='dnm-rs-content-boxes'>
                                <span class='dnmo-octdd'><b id='dnmo-wl-count'></b> Whitelisted Sites</span>
                                <ul id='dnmo-listed-whitelist-websites-list' class='dnmo-normal-style'>

                                </ul>
                                <div class='dnmo-option-action-box'>
                                    <div id='dnmo-save-whitelist-list' class='dnmo-save-button'>
                                        Save
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
